extends layout

block metadata
    meta(content='Abhinav Jauhri', name='author')

block styling
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ionicons.css')

block title
    title Demos

block content
    h2(class="block") 
    p
        a(href='./demos/nfm.html') NFM 
        | - Visual demonstration of a Nondeterministic Finite Automaton machine
        [
        a(href='https://github.com/ajauhri/nfm') code
        | ]

    p
        a(href='http://melzer.pro/#evograph') Evograph 
        | - Exploring different evolutionary techniques for optimizing visual appeal and readability of graphs (joint work with 
        a(href="http://melzer.pro") Phil Melzer
        | )
        [
        a(href='/evograph.pdf') poster
        | ]
        [
        a(href='http://code.google.com/p/evograph/') code
        | ]
        
