extends layout

block title 
    title Abhinav Jauhri's Home Page

block content
    h2(class="block") About me
    p.
        I'm a Ph.D. candidate in the Electrical and Computer Engineering department at <a href="http://www.cmu.edu">Carnegie Mellon University.</a> My advisor is <a href="http://www.cmu.edu/silicon-valley/faculty-staff/lohn-jason.html">Prof. Jason Lohn.</a>
        
    h2(class="block") Links
    ul
        li: a(href="https://github.com/ajauhri") Github
        li: a(href="https://twitter.com/abhinavjauhri") Twitter
