extends layout

block styling
    link(rel='stylesheet', href='/stylesheets/style.css')

block title 
    title Abhinav Jauhri's Home Page

block content
    h2(class="block") About me
    p.
        I'm a Ph.D. candidate in the Electrical and Computer Engineering department at <a href="http://www.cmu.edu">Carnegie Mellon University.</a> My advisor is <a href="http://www.cmu.edu/silicon-valley/faculty-staff/lohn-jason.html">Prof. Jason Lohn.</a>
    
    h2(class="block") Research Interests
    p.
        My interests lie in the areas of Algorithms, Machine Learning, Queuing Theory and Operating Systems.
    
    h2(class="block") Just for Fun
    ul
      li
        a(href='./projects/nfm.html') NFM 
        | - Visual demonstration of a Nondeterministic Finite Automaton machine

    h2(class="block") Links
    ul
        li: a(href="https://github.com/ajauhri") Github
        li: a(href="https://twitter.com/abhinavjauhri") Twitter
        li: a(href="http://www.quora.com/Abhinav-Jauhri") Quora
        li 
          | <a href="http://www.google.com/recaptcha/mailhide/d?k=01ZE2qQJZCRdOfNG7m2m_Zjg==&amp;c=jbaT-shiEwxMpYQge8Hvxw==" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501ZE2qQJZCRdOfNG7m2m_Zjg\75\75\46c\75jbaT-shiEwxMpYQge8Hvxw\75\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">email address</a>
