doctype 5
html
  head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    block metadata
    block styling
    block scripts
    block title
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34738791-1']);
      _gaq.push(['_trackPageview']);

      (function() {
                 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
  
  body
    div(class="nav")
        ul(style="list-style-type:none")
            li
                a(href='./') Home
            li
                a(href='./publications.html') Publications
            li
                a(href='./projects.html') Projects 
            li
                a(href='./demos.html') Demos
            li
                a(href='/resume.ps') CV (in PS)
            li 
                a(href='/resume.pdf') CV (in pdf)
            li
                a(href="https://github.com/ajauhri") 
                  i.icon-social-github
            li
                a(href="https://twitter.com/abhinavjauhri")
                  i.icon-social-twitter

   block content
    
