extends layout

block metadata
    meta(content='Abhinav Jauhri', name='author')

block styling
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ionicons.css')

block title
    title Publications

block content
    h2(class="block") 
    p
        a(href='publications/eap.pdf') A Comparison of Antenna Placement Algorithms. 
        | With Jason D. Lohn and Derek S. Linden. PURO, GECCO 2014 [To appear]<br>
        font(size='2', color='green') Co-location of multiple antenna systems on a single fixed or mobile platform can be challenging due to a variety of factors, such as mutual coupling, individual antenna constraints, multipath, obstructions, and parasitic effects due to the platform. The situation frequently arises where a new communication capability, and hence antenna system, is needed on an existing platform. The problem of placing new antennas requires a long, manual effort in order to complete an antenna placement study. An automated procedure for determining such placements would not only save time, but would be able to optimize the performance of all co-located antenna systems. In this paper we examine a set of stochastic algorithms to determine their effectiveness at finding optimal placements for multiple antennas on a platform. Of the four algorithms studied, simulated annealing and evolutionary strategy were found to be most effective in finding optimal placements.

