extends layout

block metadata
    meta(content='Abhinav Jauhri', name='author')

block styling
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ionicons.css')

block title
    title Tutorials

block content
    h2(class="block") 
    p.
        Procrastinating! 
