html {
  min-height: 100%;
  position: relative;
}
body {
  padding-top: 20px;
  padding-left: 150px;
  padding-right: 150px;
  height: 100%;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #6495ed;
  text-decoration: none;
}
p {
  line-height: 150%;
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0em;
}
h2.block {
  width: 80%;
  padding-top: 15px;
  border-bottom: 0px solid;
  line-height: 25px;
  -webkit-margin-after: 0em;
}
div.nav {
  position: absolute;
  top: 43.3px;
  bottom: 0;
  left: 0px;
  right: 0px;
  overflow: hidden;
  font-size: small;
  border-right: 1px solid #000;
  width: 10%;
}
ul {
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0em;
}
li {
  margin: 0px 5px 5px 0px;
  padding: 1.5px;
}
